<div class='container-fluid'>

    <div class='row'>
        
        <div class = 'col-sm-6 col-md-3 menu-text regular-div' (click) = 'setRoute("leader/overview")' [ngClass] = 'overviewClicked ? "menu-container-clicked" : "menu-container"' >
            
            Overview
        
        </div>

        <div class = 'col-sm-6 col-md-3 menu-text regular-div' (click) = 'setRoute("leader/participant")' [ngClass] = 'participantClicked ? "menu-container-clicked" : "menu-container"'>
            
            Sign up participant
        
        </div>

        <div class = 'col-sm-6 col-md-3 menu-text regular-div' (click) = 'setRoute("leader/team")' [ngClass] = 'teamClicked ? "menu-container-clicked" : "menu-container"'>
            
            Sign up team
        
        </div>
    
    </div>

</div>