<div class='container-fluid sports-container'>

    <div class='row sports-row'>

        <h3>Add new sport and discipline to Olympics</h3>
        
        <div *ngIf = 'errorsFound != ""' class = 'col-sm-12 status-report'>
            
            {{errorsFound}}
        
        </div>

        <div class = 'col-sm-1 col-md-3'></div>

        <div class = 'col-sm-10 col-md-6 sports-page-panel'>

            <div class = 'container-fluid'>

                <div class = 'sports-panel row'>

                    <div class = 'col-sm-12 select-container'>
                        
                        <span class = 'select-span'>Select sport: </span>
                        <select name = 'sport' [(ngModel)] = 'sport' class = 'select-field'>
                            <option *ngFor = 'let sd of sportDisciplines' label={{sd.sport}} value={{sd.sport}}></option>
                        </select>

                    </div>

                    <div *ngIf = 'getDisciplinesFromSelectedSport() != undefined'
                         class = 'col-sm-12 select-container'>

                        <span class = 'select-span'>Select discipline: </span>
                        
                        <select name = 'discipline' [(ngModel)] = 'discipline' class = 'select-field'>
                            
                            <option *ngFor = 'let d of disciplinesOptions' label={{d.discipline}} value={{d.discipline}}></option>
                    
                        </select>
                        
                    </div>

                    <div class = 'col-sm-12 button-container'>
                        
                        <button (click)='submit()' class = 'submit-button'>Submit</button>

                    </div>

                </div>

            </div>

        </div>

        <div class = 'col-sm-1 col-md-3'></div>

        <h3>List of added sports and disciplines</h3>

        <div class = 'col-sm-12 table-container'>

            <table *ngIf = 'addedSportDisciplines.length > 0' >

                <tr>
                    
                    <th>Sport</th>
                    <th>Disciplines</th>

                </tr>

                <tr *ngFor = 'let asd of addedSportDisciplines'>

                    <td>{{asd.sport}}</td>
                    <td>{{asd.disciplinesString}}</td>

                </tr>
            
            </table>

        </div>

    </div>

</div>