<div class='container-fluid overview-container'>

    <div class='row overview-row'>

        <div class = 'col-sm-12'>

            <h3>Number of participants for {{countryName}}: {{numOfParticipants}}</h3>

            <table *ngIf = 'participantsSports.length > 0' >

                <tr>
                    
                    <th>Sport</th>
                    <th>Number of participants</th>

                </tr>

                <tr *ngFor = 'let ps of participantsSports'>

                    <td>{{ps.sport}}</td>
                    <td>{{ps.participants}}</td>

                </tr>
            
            </table>

        </div>
        
    </div>

</div>