<div class='container-fluid register-container'>

    <div class='row register-row'>

        <div class = 'col-sm-1 col-md-3'></div>

        <div class = 'col-sm-10 col-md-6 register-page-panel'>

            <div class = 'container-fluid'>

                <div class = 'register-panel row'>

                    <div class = 'col-sm-12 input-field-container'>

                        <input type='text' name = 'username' placeholder='Enter username...' [(ngModel)]='username' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 input-field-container'>

                        <input type='password' name = 'password' placeholder='Enter password...' [(ngModel)]='password' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 input-field-container'>

                        <input type='password' name = 'passwordConfirmation' placeholder='Confirm password...' [(ngModel)]='passwordConfirmation' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 input-field-container'>

                        <input type='text' name = 'mail' placeholder='Enter mail address...' [(ngModel)]='mail' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 input-field-container'>

                        <input type='text' name = 'firstname' placeholder='Enter firstname...' [(ngModel)]='firstname' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 input-field-container'>

                        <input type='text' name = 'lastname' placeholder='Enter lastname...' [(ngModel)]='lastname' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 select-container'>
                        
                        <span class = 'select-span'>Select country: </span>
                        <select name = 'country' [(ngModel)] = 'country' class = 'select-field'>
                            <option *ngFor = 'let c of countries' label={{c.name}} value={{c.abbr}}></option>
                        </select>

                    </div>

                    <div class = 'col-sm-12 radio-button-container'>
                        
                        <input type='radio' value = 'L' name = 'type' [(ngModel)]='type' required> National Delegation Leader
                        <input type='radio' value = 'D' name = 'type' [(ngModel)]='type' required> Delegate

                    </div>

                    <div class = 'col-sm-12 button-container'>
                        
                        <button (click)='register()' class = 'register-button'>Register</button>

                    </div>

                    <div class = 'col-sm-12 link-container'>

                        <a routerLink = '' class = 'register-link'>Go back</a>

                    </div>

                </div>

            </div>
        
        </div>

        <div class = 'col-sm-1 col-md-3'></div>

    </div>

</div>
