<div class='container-fluid header'>

    <div class='row'>

        <div class = 'col-sm-12 col-md-2 double-div logo-container'>

            <img src='../../../assets/olympic-logo.jpg' class = 'header-logo'>

        </div>

        <div class = 'col-sm-12 col-md-8 double-div'>

            <div class = 'regular-div header-text'>

                TOKYO 2020

            </div>

            <div class = 'menu-div'>

                <app-menu></app-menu>

            </div>
             
        </div>

        <div *ngIf = 'getDisplayUserPanel()' class = 'col-sm-12 col-md-2 double-div user-info-container'>
            
            <img src='../../../assets/user.png' class = 'user-icon'>

            <span bind-innerHTML = 'getLoggedUsername()'></span>

            <button (click) = 'signOut()'>Sign out</button>

        </div>

    </div>

</div>