.header {
    height: 100px;
}

.header-logo {
    width: 187.5px;
    height: 100px;
}

.logo-container {
    display: flex;
    justify-content: center;
    background-color: red;
}

.regular-div {
    height: 50px;
}

.double-div {
    height: 100px;
}

.header-text {
    color: red;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.user-icon {
    height: 48px;
    width: 48px;
}