.participant-submit-container {
    height: 760px;
    max-height: 760px;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.participant-submit-row {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}

.status-report {
    height: 70px;
    width: 100%;
    text-align: center;
    color: red;
}

.participant-submit-page-panel {
    background-color: lightgrey;

    border-top: 15px inset;
    border-left: 15px inset;
    border-right: 15px inset;
    border-bottom: 15px inset;

    display: flex;
    align-items: center;

    height: 600px;
}

.participant-submit-panel {
    height: 350px;
    display: flex;
    justify-content: center;
}

.input-field-container {
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.input-field {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.radio-button-container {

    width: 80%;
    height: 30px;
}

.radio-span {
    width: 50%;
    height: 25px;
    display: flex;
    float: left;
    justify-content: center;
    margin-right: 15px;
    /*padding-left: 25px;*/
}

.select-container {

    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;

}

.select-span {

    width: 40%;
    height: 25px;
    display: flex;
    justify-content: center;
    margin-right: 10px;

}

.select-field {

    width: 50%;
    height: 25px;
    display: flex;
    justify-content: center;

}

.button-container {

    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;

}

.submit-button {
    width: 20%;
    margin-left: 20px;
    margin-right: 20px;
}

.checkbox-container {

    width: 100%;
    display: flex;
    justify-content: center;

}