<div class='container-fluid login-container'>

    <div class='row login-row'>
        
        <div class = 'col-sm-1 col-md-3'></div>

        <div class = 'col-sm-10 col-md-6 login-page-panel'>

            <div class = 'container-fluid'>
            
                <div class = 'sign-in-panel row'>

                    <div class = 'col-sm-12 input-field-container'>
                        
                        <input type='text' placeholder='Enter username...' [(ngModel)]='username' class = 'input-field'>
                    
                    </div>

                    <div class = 'col-sm-12 input-field-container'>

                        <input type='password' placeholder='Enter password...' [(ngModel)]='password' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 button-container'>

                        <button (click)='signIn()' class = 'login-button'>Sign in</button>
                        <button (click)='register()' class = 'login-button'>Register</button>

                    </div>

                    <div class = 'col-sm-12 link-container'>

                        <a routerLink = 'password-reset' class = 'login-link'>Change password</a>

                        <a routerLink = "unregistered" class = 'login-link'>Browse unregistered</a>

                    </div>

                </div>

            </div>
            
        </div>

        <div class = 'col-sm-1 col-md-3'></div>

    </div>

    <div class='row'>

    </div>

</div>