.password-reset-container {
    height: 760px;
    max-height: 760px;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.status-report {
    height: 70px;
    width: 100%;
    text-align: center;
    color: red;
}

.password-reset-row {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
}

.password-reset-page-panel {
    background-color: lightgrey;

    border-top: 15px inset;
    border-left: 15px inset;
    border-right: 15px inset;
    border-bottom: 15px inset;

    display: flex;
    align-items: center;

    height: 600px;
}

.password-reset-panel {
    height: 350px;
    display: flex;
    justify-content: center;
}

.input-field-container {
    width: 70%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.input-field {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
}

.button-container {

    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;

}

.submit-button {
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
}

.link-container {

    width: 90%;
    height: 30px;
    display: flex;
    justify-content: center;

}

.password-reset-link {
    width: 20%;
}