<div class='container-fluid password-reset-container'>

    <div class='row password-reset-row'>

        <div *ngIf = 'errorsFound != ""' class = 'col-sm-12 status-report'>
            {{errorsFound}}
        </div>

        <div class = 'col-sm-1 col-md-3'></div>

        <div class = 'col-sm-10 col-md-6 password-reset-page-panel'>

            <div class = 'container-fluid'>

                <div class = 'password-reset-panel row'>

                    <div class = 'col-sm-12 input-field-container'>

                        <span class = 'select-span'>Username: </span>
                        <input type='text' name = 'username' placeholder='Enter username...' [(ngModel)]='username' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 input-field-container'>

                        <span class = 'select-span'>Old password: </span>
                        <input type='password' name = 'oldPassword' placeholder='Enter current password...' [(ngModel)]='oldPassword' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 input-field-container'>

                        <span class = 'select-span'>New password: </span>
                        <input type='password' name = 'newPassword' placeholder='Enter new password...' [(ngModel)]='newPassword' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 input-field-container'>

                        <span class = 'select-span'>Confirm new password: </span>
                        <input type='password' name = 'passwordConfirmation' placeholder='Confirm new password...' [(ngModel)]='passwordConfirmation' class = 'input-field'>

                    </div>

                    <div class = 'col-sm-12 button-container'>
                        
                        <button (click)='changePassword()' class = 'submit-button'>Change password</button>

                    </div>

                    <div class = 'col-sm-12 link-container'>

                        <a routerLink = '' class = 'password-reset-link'>Go back</a>

                    </div>
                    

                </div>

            </div>

        </div>

        <div class = 'col-sm-1 col-md-3'></div>

    </div>

</div>